doctype html
html
	head
		include includes/head.jade
	body
		center
			table#bodyTable(align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%")
				tr
					td#bodyCell(align="center" valign="top")
						//- BEGIN TEMPLATE
						table#templateContainer(border="0" cellpadding="0" cellspacing="0")
							tr
								td.preheaderContent(align="left" valign="top")
									a.logo(href="wwww.soundcharts.com"): img(src="images/soundcharts.png" alt="soundcharts")
							
							tr
								td(align="center" valign="top")
									//- BEGIN HEADER
									table#templateHeader(border="0" cellpadding="0" cellspacing="0" width="100%")
										tr
											td(align="center")
												table.dailycharts-card(border="0" cellpadding="0" cellspacing="0" width="100%")
													tr
														td(align="left")
															h1 Daily Charts <em>_ Jul 4th </em>
															h3 iTunes - USA
															h3 <strong>#Electronic</strong> / song (or album)									
							
							//- END HEADER
							tr
								td(valign="top")
									
									//- BEGIN BODY
									table#templateBody(border="0" cellpadding="0" cellspacing="0" width="100%")
										
										tr
											td.bodyContent(style="padding-top: 2px")
												
												table.report.dailycharts(border="0" cellpadding="0" cellspacing="0" width="100%")
													thead.table-head
														tr
															td.first Rank
															td.second D-1
															td.third W-1
															td.fourth Song
															td.fifth Artist
															td.sixth Label
													
													tbody
														tr
															td.first 1
															td.second 1
															td.third 1
															td.fourth CAN'T STOP THE ...
															td.fifth
																a(href="#" target="_blank")  Justin Timberlake
															td.sixth DreamWo...
														tr
															td.first 3
															td.second 1
															td.third 1
															td.fourth M.I.L.F. $
															td.fifth
																a(href="#" target="_blank")  Fergie
															td.sixth Intersc...
														tr
															td.first 4
															td.second 1
															td.third 1
															td.fourth One Dance (feat...
															td.fifth
																a(href="#" target="_blank")  Drake
															td.sixth Young...
														tr
															td.first 10
															td.second 1
															td.third 1
															td.fourth Just Like Fire ...
															td.fifth
																a(href="#" target="_blank")  P!nk
															td.sixth RCA...
														tr
															td.first 12
															td.second 1
															td.third 1
															td.fourth Lost Boy
															td.fifth
																a(href="#" target="_blank")  Ruth B.
															td.sixth Columbi...
														tr
															td.first 15
															td.second 4
															td.third 3
															td.fourth Unsteady
															td.fifth
																a(href="#" target="_blank")  X Ambassadors
															td.sixth KIDinaK...
														tr
															td.first 16
															td.second 7
															td.third 4
															td.fourth You Don't Own M...
															td.fifth
																a(href="#" target="_blank")  Grace
															td.sixth RCA...
														tr
															td.first 18
															td.second 2
															td.third 2
															td.fourth If I Told You
															td.fifth
																a(href="#" target="_blank")  Darius Rucker
															td.sixth Capitol...
														tr
															td.first 26
															td.second 12
															td.third 2
															td.fourth Toothbrush
															td.fifth
																a(href="#" target="_blank")  Dnce
															td.sixth Republi...
														tr
															td.first 28
															td.second 5
															td.third 4
															td.fourth For Free (feat....
															td.fifth
																a(href="#" target="_blank")  DJ Khaled
															td.sixth Epic...
														tr
															td.first 29
															td.second 2
															td.third 2
															td.fourth Too Good (feat....
															td.fifth
																a(href="#" target="_blank")  Drake
															td.sixth Young...
														tr
															td.first 31
															td.second 3
															td.third 2
															td.fourth Peter Pan
															td.fifth
																a(href="#" target="_blank")  Kelsea Ballerini
															td.sixth Black...
														tr
															td.first 32
															td.second 1
															td.third 1
															td.fourth The Sound of Si...
															td.fifth
																a(href="#" target="_blank")  Disturbed
															td.sixth Reprise...
														tr
															td.first 34
															td.second 4
															td.third 3
															td.fourth Head over Boots
															td.fifth
																a(href="#" target="_blank")  Jon Pardi
															td.sixth Capitol...
														tr
															td.first 35
															td.second 6
															td.third 1
															td.fourth I Got the Keys ...
															td.fifth
																a(href="#" target="_blank")  DJ Khaled
															td.sixth Epic...
														tr
															td.first 36
															td.second 5
															td.third 5
															td.fourth Lights Come On
															td.fifth
																a(href="#" target="_blank")  Jason Aldean
															td.sixth Broken...
														tr
															td.first 37
															td.second 16
															td.third 1
															td.fourth Gold
															td.fifth
																a(href="#" target="_blank")  kiiara
															td.sixth Atlanti...
														tr
															td.first 38
															td.second 5
															td.third 1
															td.fourth Church Bells
															td.fifth
																a(href="#" target="_blank")  Carrie Underwood
															td.sixth 19...
														tr
															td.first 39
															td.second 8
															td.third 8
															td.fourth Controlla
															td.fifth
																a(href="#" target="_blank")  Drake
															td.sixth Young...
														tr
															td.first 40
															td.second 3
															td.third 2
															td.fourth Huntin', Fishin...
															td.fifth
																a(href="#" target="_blank")  Luke Bryan
															td.sixth Capitol...
														tr
															td.first 41
															td.second 1
															td.third 1
															td.fourth Messin' Around ...
															td.fifth
																a(href="#" target="_blank")  Pitbull
															td.sixth RCA...
														tr
															td.first 42
															td.second 6
															td.third 5
															td.fourth Record Year
															td.fifth
																a(href="#" target="_blank")  Eric Church
															td.sixth EMI...
														tr
															td.first 43
															td.second 4
															td.third 3
															td.fourth Cake by the Ocean
															td.fifth
																a(href="#" target="_blank")  Dnce
															td.sixth Republi...
														tr
															td.first 44
															td.second 9
															td.third 5
															td.fourth Broccoli (feat....
															td.fifth
																a(href="#" target="_blank")  D.R.A.M.
															td.sixth #1EpicC...
														tr
															td.first 45
															td.second 6
															td.third 6
															td.fourth She's Got a Way...
															td.fifth
																a(href="#" target="_blank")  Blake Shelton
															td.sixth Ten...
														tr
															td.first 46
															td.second 3
															td.third 3
															td.fourth I Took a Pill i...
															td.fifth
																a(href="#" target="_blank")  Mike Posner
															td.sixth Island...
														tr
															td.first 47
															td.second 6
															td.third 6
															td.fourth Humble and Kind
															td.fifth
																a(href="#" target="_blank")  Tim McGraw
															td.sixth McGraw...
														tr
															td.first 48
															td.second 1
															td.third 1
															td.fourth My Church
															td.fifth
																a(href="#" target="_blank")  Maren Morris
															td.sixth Sony...
														tr
															td.first 49
															td.second 16
															td.third 12
															td.fourth Sit Still, Look...
															td.fifth
																a(href="#" target="_blank")  Daya
															td.sixth ARTBEATZ
														tr
															td.first 50
															td.second 9
															td.third 9
															td.fourth We Don’t Talk A...
															td.fifth
																a(href="#" target="_blank")  Charlie Puth
															td.sixth Artist...
														tr
															td.first 52
															td.second 11
															td.third 11
															td.fourth God Bless The U...
															td.fifth
																a(href="#" target="_blank")  Lee Greenwood
															td.sixth MCA...
														tr
															td.first 53
															td.second 12
															td.third 8
															td.fourth Vacation
															td.fifth
																a(href="#" target="_blank")  Thomas Rhett
															td.sixth The...
														tr
															td.first 54
															td.second 1
															td.third 1
															td.fourth Sucker For Pain...
															td.fifth
																a(href="#" target="_blank")  Lil Wayne, Wiz Kh...
															td.sixth Atlanti...
														tr
															td.first 56
															td.second 8
															td.third 8
															td.fourth Dangerous Woman
															td.fifth
																a(href="#" target="_blank")  Ariana Grande
															td.sixth Republi...
														tr
															td.first 57
															td.second 4
															td.third 2
															td.fourth From the Ground Up
															td.fifth
																a(href="#" target="_blank")  Dan + Shay
															td.sixth Warner...
														tr
															td.first 58
															td.second 9
															td.third 9
															td.fourth American Countr...
															td.fifth
																a(href="#" target="_blank")  Jake Owen
															td.sixth Sony...
														tr
															td.first 59
															td.second 4
															td.third 3
															td.fourth Different for G...
															td.fifth
																a(href="#" target="_blank")  Dierks Bentley
															td.sixth Dierks...
														tr
															td.first 61
															td.second 11
															td.third 11
															td.fourth Wake Up
															td.fifth
																a(href="#" target="_blank")  Fetty Wap
															td.sixth 300...
														tr
															td.first 62
															td.second 2
															td.third 2
															td.fourth Wasted Time
															td.fifth
																a(href="#" target="_blank")  Keith Urban
															td.sixth Hit Red...
														tr
															td.first 63
															td.second 16
															td.third 12
															td.fourth Try Everything
															td.fifth
																a(href="#" target="_blank")  Shakira
															td.sixth Walt...
														tr
															td.first 64
															td.second 10
															td.third 10
															td.fourth Make You Miss Me
															td.fifth
																a(href="#" target="_blank")  Sam Hunt
															td.sixth MCA...
														tr
															td.first 65
															td.second 1
															td.third 1
															td.fourth Bored to Death
															td.fifth
																a(href="#" target="_blank")  Blink-182
															td.sixth Viking...
														tr
															td.first 66
															td.second 10
															td.third 8
															td.fourth T-Shirt
															td.fifth
																a(href="#" target="_blank")  Thomas Rhett
															td.sixth The...
														tr
															td.first 68
															td.second 10
															td.third 8
															td.fourth Famous
															td.fifth
																a(href="#" target="_blank")  Kanye West
															td.sixth Getting...
														tr
															td.first 69
															td.second 13
															td.third 11
															td.fourth Castaway
															td.fifth
																a(href="#" target="_blank")  Zac Brown Band
															td.sixth No...
														tr
															td.first 70
															td.second 7
															td.third 5
															td.fourth Into You
															td.fifth
																a(href="#" target="_blank")  Ariana Grande
															td.sixth Republi...
														tr
															td.first 71
															td.second 9
															td.third 3
															td.fourth Never Forget You
															td.fifth
																a(href="#" target="_blank")  Zara Larsson &amp; MNEK
															td.sixth Record...
														tr
															td.first 72
															td.second 10
															td.third 9
															td.fourth Kill Em With Ki...
															td.fifth
																a(href="#" target="_blank")  Selena Gomez
															td.sixth Intersc...
														tr
															td.first 73
															td.second 1
															td.third 1
															td.fourth Fight Song
															td.fifth
																a(href="#" target="_blank")  Rachel Platten
															td.sixth Columbi...
														tr
															td.first 74
															td.second 18
															td.third 13
															td.fourth Somewhere on a ...
															td.fifth
																a(href="#" target="_blank")  Dierks Bentley
															td.sixth Dierks...
														tr
															td.first 76
															td.second 12
															td.third 12
															td.fourth Love Yourself
															td.fifth
																a(href="#" target="_blank")  Justin Bieber
															td.sixth Def Jam...
														tr
															td.first 77
															td.second 1
															td.third 1
															td.fourth Hymn for the We...
															td.fifth
																a(href="#" target="_blank")  Coldplay
															td.sixth Parloph...
														tr
															td.first 80
															td.second 6
															td.third 6
															td.fourth I Love the USA
															td.fifth
																a(href="#" target="_blank")  Weezer
															td.sixth Crush...
														tr
															td.first 81
															td.second 9
															td.third 2
															td.fourth All the Way Up ...
															td.fifth
																a(href="#" target="_blank")  Fat Joe &amp; Remy Ma
															td.sixth Terror...
														tr
															td.first 82
															td.second 11
															td.third 11
															td.fourth I Hate U, I Lov...
															td.fifth
																a(href="#" target="_blank")  gnash
															td.sixth 2016
														tr
															td.first 83
															td.second 16
															td.third 3
															td.fourth Came Here to Fo...
															td.fifth
																a(href="#" target="_blank")  Blake Shelton
															td.sixth Ten...
														tr
															td.first 84
															td.second 22
															td.third 22
															td.fourth Tennessee Whiskey
															td.fifth
																a(href="#" target="_blank")  Chris Stapleton
															td.sixth Mercury...
														tr
															td.first 85
															td.second 17
															td.third 15
															td.fourth Wherever I Go
															td.fifth
																a(href="#" target="_blank")  OneRepublic
															td.sixth Mosley...
														tr
															td.first 87
															td.second 22
															td.third 21
															td.fourth Noise
															td.fifth
																a(href="#" target="_blank")  Kenny Chesney
															td.sixth Blue...
														tr
															td.first 88
															td.second 24
															td.third 20
															td.fourth Die a Happy Man
															td.fifth
																a(href="#" target="_blank")  Thomas Rhett
															td.sixth The...
														tr
															td.first 89
															td.second 15
															td.third 13
															td.fourth Low Life
															td.fifth
																a(href="#" target="_blank")  Future &amp; The Weeknd
															td.sixth 1
														tr
															td.first 90
															td.second 14
															td.third 14
															td.fourth Magic City Mond...
															td.fifth
																a(href="#" target="_blank")  Jeezy
															td.sixth Def Jam...
														tr
															td.first 91
															td.second 25
															td.third 21
															td.fourth Middle of a Memory
															td.fifth
																a(href="#" target="_blank")  Cole Swindell
															td.sixth Warner...
														tr
															td.first 92
															td.second 3
															td.third 3
															td.fourth Born In the U.S.A.
															td.fifth
																a(href="#" target="_blank")  Bruce Springsteen
															td.sixth Bruce...
														tr
															td.first 93
															td.second 26
															td.third 23
															td.fourth Fix
															td.fifth
																a(href="#" target="_blank")  Chris Lane
															td.sixth Big...
														tr
															td.first 94
															td.second 2
															td.third 1
															td.fourth Uptown Funk (fe...
															td.fifth
																a(href="#" target="_blank")  Mark Ronson
															td.sixth Sony...
														tr
															td.first 95
															td.second 2
															td.third 1
															td.fourth You Don't Own M...
															td.fifth
																a(href="#" target="_blank")  Grace
															td.sixth RCA...
														tr
															td.first 96
															td.second 4
															td.third 4
															td.fourth You Should Be Here
															td.fifth
																a(href="#" target="_blank")  Cole Swindell
															td.sixth Warner...
														tr
															td.first 97
															td.second 17
															td.third 2
															td.fourth Without a Fight...
															td.fifth
																a(href="#" target="_blank")  Brad Paisley
															td.sixth Sony...
														tr
															td.first 98
															td.second 28
															td.third 23
															td.fourth One Call Away
															td.fifth
																a(href="#" target="_blank")  Charlie Puth
															td.sixth Artist...
														tr
															td.first 99
															td.second 31
															td.third 6
															td.fourth Stand By You
															td.fifth
																a(href="#" target="_blank")  Rachel Platten
															td.sixth Columbi...
														tr
															td.first 100
															td.second 8
															td.third 5
															td.fourth HandClap
															td.fifth
																a(href="#" target="_blank")  Fitz &amp; The Tantrums
															td.sixth Elektra...
														tr
															td.first 101
															td.second 1
															td.third 1
															td.fourth No Limit (feat....
															td.fifth
																a(href="#" target="_blank")  Usher
															td.sixth RCA...
														tr
															td.first 102
															td.second 30
															td.third 30
															td.fourth Courtesy of the...
															td.fifth
																a(href="#" target="_blank")  Toby Keith
															td.sixth SKG...
														tr
															td.first 104
															td.second 17
															td.third 8
															td.fourth Wicked
															td.fifth
																a(href="#" target="_blank")  Future
															td.sixth Epic...
														tr
															td.first 105
															td.second 18
															td.third 13
															td.fourth Wild Things
															td.fifth
																a(href="#" target="_blank")  Alessia Cara
															td.sixth Def Jam...
														tr
															td.first 106
															td.second 4
															td.third 4
															td.fourth Livin' On a Prayer
															td.fifth
																a(href="#" target="_blank")  Bon Jovi
															td.sixth The...
														tr
															td.first 107
															td.second 3
															td.third 3
															td.fourth I Love Rock 'N ...
															td.fifth
																a(href="#" target="_blank")  Joan Jett &amp; The B...
															td.sixth Blackhe...
														tr
															td.first 108
															td.second 31
															td.third 31
															td.fourth I Like the Soun...
															td.fifth
																a(href="#" target="_blank")  Rascal Flatts
															td.sixth Big...
														tr
															td.first 110
															td.second 18
															td.third 15
															td.fourth Really Really
															td.fifth
																a(href="#" target="_blank")  Kevin Gates
															td.sixth Bread...
														tr
															td.first 111
															td.second 2
															td.third 2
															td.fourth 80s Mercedes
															td.fifth
																a(href="#" target="_blank")  Maren Morris
															td.sixth Sony...
														tr
															td.first 112
															td.second 2
															td.third 1
															td.fourth Dark Necessities
															td.fifth
																a(href="#" target="_blank")  Red Hot Chili Pep...
															td.sixth Warner...
														tr
															td.first 113
															td.second 9
															td.third 9
															td.fourth Sorry
															td.fifth
																a(href="#" target="_blank")  Justin Bieber
															td.sixth Def Jam...
														tr
															td.first 114
															td.second 31
															td.third 12
															td.fourth It All Started ...
															td.fifth
																a(href="#" target="_blank")  Frankie Ballard
															td.sixth Warner...
														tr
															td.first 116
															td.second 6
															td.third 4
															td.fourth My P.Y.T
															td.fifth
																a(href="#" target="_blank")  Wale
															td.sixth Maybach...
														tr
															td.first 117
															td.second 2
															td.third 2
															td.fourth Middle (feat. B...
															td.fifth
																a(href="#" target="_blank")  DJ Snake
															td.sixth DJ...
														tr
															td.first 118
															td.second 37
															td.third 18
															td.fourth Better Place
															td.fifth
																a(href="#" target="_blank")  Rachel Platten
															td.sixth Columbi...
														tr
															td.first 119
															td.second 1
															td.third 1
															td.fourth Luv
															td.fifth
																a(href="#" target="_blank")  Tory Lanez
															td.sixth Mad...
														tr
															td.first 120
															td.second 44
															td.third 41
															td.fourth Bang Bang
															td.fifth
																a(href="#" target="_blank")  Jessie J, Ariana ...
															td.sixth Republi...
														tr
															td.first 121
															td.second 15
															td.third 15
															td.fourth THat Part (feat...
															td.fifth
																a(href="#" target="_blank")  ScHoolboy Q
															td.sixth Intersc...
														tr
															td.first 122
															td.second 9
															td.third 9
															td.fourth Pity Party
															td.fifth
																a(href="#" target="_blank")  Melanie Martinez
															td.sixth Atlanti...
														tr
															td.first 123
															td.second 32
															td.third 7
															td.fourth Snapback
															td.fifth
																a(href="#" target="_blank")  Old Dominion
															td.sixth Sony...
														tr
															td.first 124
															td.second 10
															td.third 9
															td.fourth Ophelia
															td.fifth
																a(href="#" target="_blank")  The Lumineers
															td.sixth Dualton...
														tr
															td.first 125
															td.second 9
															td.third 4
															td.fourth Red Dress
															td.fifth
																a(href="#" target="_blank")  MAGIC!
															td.sixth Sony...
														tr
															td.first 126
															td.second 21
															td.third 19
															td.fourth 2 Phones
															td.fifth
																a(href="#" target="_blank")  Kevin Gates
															td.sixth Bread...
														tr
															td.first 127
															td.second 34
															td.third 32
															td.fourth Night's on Fire
															td.fifth
																a(href="#" target="_blank")  David Nail
															td.sixth MCA...
														tr
															td.first 128
															td.second 46
															td.third 46
															td.fourth Party In the U....
															td.fifth
																a(href="#" target="_blank")  Miley Cyrus
															td.sixth Hollywo...
														tr
															td.first 129
															td.second 17
															td.third 7
															td.fourth God Bless the USA
															td.fifth
																a(href="#" target="_blank")  Home Free
															td.sixth Columbi...
														tr
															td.first 130
															td.second 8
															td.third 6
															td.fourth Cut It (feat. Y...
															td.fifth
																a(href="#" target="_blank")  O.T. Genasis
															td.sixth Atlanti...
														tr
															td.first 132
															td.second 35
															td.third 33
															td.fourth Rock On
															td.fifth
																a(href="#" target="_blank")  Tucker Beathard
															td.sixth Big...
														tr
															td.first 133
															td.second 3
															td.third 3
															td.fourth Oui
															td.fifth
																a(href="#" target="_blank")  Jeremih
															td.sixth Def Jam...
														tr
															td.first 134
															td.second 36
															td.third 35
															td.fourth It Don't Hurt L...
															td.fifth
																a(href="#" target="_blank")  Billy Currington
															td.sixth Mercury...
														tr
															td.first 135
															td.second 3
															td.third 1
															td.fourth Ex's &amp; Oh's
															td.fifth
																a(href="#" target="_blank")  Elle King
															td.sixth RCA...
														tr
															td.first 136
															td.second 4
															td.third 1
															td.fourth HARD LOVE
															td.fifth
																a(href="#" target="_blank")  NEEDTOBREATHE
															td.sixth Atlanti...
														tr
															td.first 137
															td.second 22
															td.third 22
															td.fourth Parachute
															td.fifth
																a(href="#" target="_blank")  Chris Stapleton
															td.sixth Mercury...
														tr
															td.first 138
															td.second 23
															td.third 19
															td.fourth Pop Style
															td.fifth
																a(href="#" target="_blank") ooooooooooooo
															td.sixth oye

												table.templateButton(border="0" cellpadding="13" cellspacing="0" width="100%")
													tr
														td(width="10%")
														td.buttonContent(valign="middle" align="center")
															div: a(href="#") See More Charts
														td(width="10%")
							
												table.notice(border="0" cellpadding="13" cellspacing="0" width="100%")
													tr
														td
															| Mail Generated on the <strong> 2016-07-06 at 1:09 pm </strong>
															|<br> This email was generated due to the alerts you have set up in soundcharts.
															|<br> You can edit them <a href="#">here</a>.

							//- END BODY
							tr
								td
									//- BEGIN FOOTER
									include includes/footer.jade