doctype html
html
	head
		include includes/head.jade
	body
		center
			table#bodyTable(align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%")
				tr
					td#bodyCell(align="center" valign="top")
						//- BEGIN TEMPLATE
						table#templateContainer(border="0" cellpadding="0" cellspacing="0")
							tr
								td.preheaderContent(align="left" valign="top")
									a.logo(href="wwww.soundcharts.com"): img(src="https://nebulae2016.github.io/sc-emails/images/soundcharts.png" alt="soundcharts")
							
							//- END HEADER
							tr
								td(valign="top")
									
									//- BEGIN BODY
									table#templateBody(border="0" cellpadding="0" cellspacing="0" width="100%")
										tr
											td.bodyContent.notareport
												h2 Welcome to Soundcharts !
												|<br> Your Login is : <strong> marius@nebulae2016.com  </strong>
												|<br> Your Password is : *******66

												table.templateButton(border="0" cellpadding="13" cellspacing="0" width="100%")
													tr
														td.buttonContent(valign="middle" align="center")
															div: a(href="#") Sign in
														td(width="70%")

												| For any inquiries email us at : <strong><a href="#">support@soundcharts.com</a></strong>
												| <br> <br> Thanks <br> <strong>Ben Johnson </strong> <br> Customer satisfaction.
												| <a href="#"> Soundcharts </a>

							//- END BODY
							tr
								td
									//- BEGIN FOOTER
									include includes/footer.jade

