table#templateFooter(border="0" cellpadding="0" cellspacing="0" width="100%")
	tr
		td.footerContent(valign="top") Don't miss out. Stay up to date on what's happening
	tr
		td.footerContent.socialicons(valign="top")
			a(href="#"): img(src='https://nebulae2016.github.io/sc-emails/images/twitter_ico.png')
			| &nbsp; &nbsp;
			a(href="#"): img(src='https://nebulae2016.github.io/sc-emails/images/facebook_ico.png')
			| &nbsp; &nbsp;
			a(href="#"): img(src='https://nebulae2016.github.io/sc-emails/images/linkedin_ico.png')
			| &nbsp; &nbsp;
			a(href="#"): img(src='https://nebulae2016.github.io/sc-emails/images/gplus_ico.png')